<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.cqjtu.student.dao.Sy07Mapper">
  <resultMap id="BaseResultMap" type="com.bysj.cqjtu.student.domain.Sy07">
    <result column="CSY040" jdbcType="VARCHAR" property="csy040" />
    <result column="CSY060" jdbcType="VARCHAR" property="csy060" />
    <result column="CSY071" jdbcType="INTEGER" property="csy071" />
  </resultMap>
  
  <!-- 查询所有成绩 -->
  <select id="queryGrade" parameterType="com.bysj.cqjtu.student.domain.Sy07" resultType="java.util.HashMap">
    select sy06.*,
           sy07.csy071,
           sy05.csy051
      from sy07 sy07,
           sy06 sy06,
           sy05 sy05
     where sy07.csy060 = sy06.csy060
       and sy06.csy050 = sy05.csy050
       and sy07.csy040 = #{csy040}
  </select>
  
  <!-- 查询成绩详情 -->
  <select id="queryGradeDetai" parameterType="com.bysj.cqjtu.student.domain.Sy07" resultType="java.util.HashMap">
    select sy06.csy061,
           sy08.csy081,
           sy09.csy092,
           sy09.csy094
      from sy07 sy07,
           sy06 sy06,
           sy08 sy08,
           sy09 sy09
     where sy07.csy060 = sy06.csy060
       and sy07.csy060 = sy08.csy060
       and sy08.csy080 = sy09.csy080
       and sy07.csy040 = #{csy040}
       and sy07.csy060 = #{csy060}
  </select>
  
  <!-- 成绩统计 -->
   <select id="gradestatistics" resultType="java.util.HashMap">
     <![CDATA[    
       select count(csy071) as value,
              csy071 as name
                from sy07
            group by csy071
    ]]>      
   </select>
   
   <!-- 查询各个班级每个课程的平均成绩 -->
   <select id="classGradestatistics" resultType="java.util.HashMap">   
       select sy04.csy043 as csy043,
              sy06.csy061 as csy061,
              sy06.csy060 as csy060,
              AVG(sy07.csy071) as csy071,
              sy06.csy062 as csy062,
              sy06.csy063 as csy063
        from  sy04 sy04,
              sy06 sy06,
              sy07 sy07
       where  sy07.csy040 = sy04.csy040
         and  sy07.csy060 = sy06.csy060
    group by  sy04.csy043,
              sy06.csy061     
   </select>
  
  <!-- 查询各个班级每个课程的平均分布 -->
   <select id="classpeopleGradestatistics" resultType="java.util.HashMap" parameterType="java.util.HashMap">   
       select count(sy07.csy040) as value,
              sy07.csy071 as name
         from sy04 sy04,
              sy07 sy07
        where sy04.csy043 = #{csy043}
          and sy07.csy060 = #{csy060}
          group by sy07.csy071      
   </select>
  
  
  <insert id="insert" parameterType="com.bysj.cqjtu.student.domain.Sy07">
    insert into sy07 (CSY040, CSY060, CSY071
      )
    values (#{csy040,jdbcType=VARCHAR}, #{csy060,jdbcType=VARCHAR}, #{csy071,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bysj.cqjtu.student.domain.Sy07">
    insert into sy07
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="csy040 != null">
        CSY040,
      </if>
      <if test="csy060 != null">
        CSY060,
      </if>
      <if test="csy071 != null">
        CSY071,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="csy040 != null">
        #{csy040,jdbcType=VARCHAR},
      </if>
      <if test="csy060 != null">
        #{csy060,jdbcType=VARCHAR},
      </if>
      <if test="csy071 != null">
        #{csy071,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>
