<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bysj.cqjtu.student.dao.Sy13Mapper" >
  <resultMap id="BaseResultMap" type="com.bysj.cqjtu.student.domain.Sy13" >
    <id column="CSY130" property="csy130" jdbcType="INTEGER" />
    <result column="CSY020" property="csy020" jdbcType="INTEGER" />
    <result column="CSY131" property="csy131" jdbcType="VARCHAR" />
    <result column="CSY160" property="csy160" jdbcType="TINYINT" />
    <result column="CSY133" property="csy133" jdbcType="VARCHAR" />
    <result column="CSY134" property="csy134" jdbcType="VARCHAR" />
    <result column="CSY135" property="csy135" jdbcType="TINYINT" />
    <result column="CSY136" property="csy136" jdbcType="DATE" />
    <result column="CSY137" property="csy137" jdbcType="VARCHAR" />
    <result column="CSY138" property="csy138" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CSY130, CSY020, CSY131, CSY160, CSY133, CSY134, CSY135, CSY136, CSY137,CSY138
  </sql>
  
   <!--查询每个类型下的资源列表  -->
   <select id="queryResourceList" resultType="java.util.HashMap" parameterType="com.bysj.cqjtu.student.domain.Sy13" >
    select sy13.csy130 as csy130,
           sy13.csy131 as csy131,
           sy13.csy133 as csy133,
           sy13.csy134 as csy134,
           sy13.csy135 as csy135,
           sy13.csy136 as csy136,
           sy13.csy137 as csy137,
           sy13.csy138 as csy138,    
           sy02.csy021 as csy021
    from sy13 sy13,
         sy02 sy02
    where csy137 = 1
      and sy13.csy020 = sy02.csy020 
      and CSY160 = #{csy160}
  </select>
  
  <!-- 查询资源详细信息 -->
  <select id="queryResourceDetail" resultMap="BaseResultMap" parameterType="com.bysj.cqjtu.student.domain.Sy13" >
    select 
    <include refid="Base_Column_List" />
    from sy13
    where CSY130 = #{csy130,jdbcType=INTEGER}
      and csy135 = 0     
  </select>
  
  <!--查询每个类型下的所有资源  -->
   <select id="queryAllResourceList" resultMap="BaseResultMap" parameterType="com.bysj.cqjtu.student.domain.Sy13" >
    select 
    <include refid="Base_Column_List" />
    from sy13
   where csy160 = #{csy160,jdbcType=INTEGER}
  </select>
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sy13
    where CSY130 = #{csy130,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sy13
    where CSY130 = #{csy130,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bysj.cqjtu.student.domain.Sy13" >
    insert into sy13 (CSY130, CSY020, CSY131, 
      CSY160, CSY133, CSY134, 
      CSY135, CSY136, CSY137,CSY138
      )
    values (#{csy130,jdbcType=INTEGER}, #{csy020,jdbcType=INTEGER}, #{csy131,jdbcType=VARCHAR}, 
      #{csy160,jdbcType=TINYINT}, #{csy133,jdbcType=VARCHAR}, #{csy134,jdbcType=VARCHAR}, 
      #{csy135,jdbcType=TINYINT}, #{csy136,jdbcType=DATE}, #{csy137,jdbcType=VARCHAR},#{csy138,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bysj.cqjtu.student.domain.Sy13" >
    insert into sy13
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="csy130 != null" >
        CSY130,
      </if>
      <if test="csy020 != null" >
        CSY020,
      </if>
      <if test="csy131 != null" >
        CSY131,
      </if>
      <if test="csy160 != null" >
        CSY160,
      </if>
      <if test="csy133 != null" >
        CSY133,
      </if>
      <if test="csy134 != null" >
        CSY134,
      </if>
      <if test="csy135 != null" >
        CSY135,
      </if>
      <if test="csy136 != null" >
        CSY136,
      </if>
      <if test="csy137 != null" >
        CSY137,
      </if>
      <if test="csy138 != null" >
        CSY138,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="csy130 != null" >
        #{csy130,jdbcType=INTEGER},
      </if>
      <if test="csy020 != null" >
        #{csy020,jdbcType=INTEGER},
      </if>
      <if test="csy131 != null" >
        #{csy131,jdbcType=VARCHAR},
      </if>
      <if test="csy160 != null" >
        #{csy160,jdbcType=TINYINT},
      </if>
      <if test="csy133 != null" >
        #{csy133,jdbcType=VARCHAR},
      </if>
      <if test="csy134 != null" >
        #{csy134,jdbcType=VARCHAR},
      </if>
      <if test="csy135 != null" >
        #{csy135,jdbcType=TINYINT},
      </if>
      <if test="csy136 != null" >
        #{csy136,jdbcType=DATE},
      </if>
      <if test="csy137 != null" >
        #{csy137,jdbcType=VARCHAR},
      </if>
      <if test="csy138 != null" >
        #{csy138,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bysj.cqjtu.student.domain.Sy13" >
    update sy13
    <set >
      <if test="csy020 != null" >
        CSY020 = #{csy020,jdbcType=INTEGER},
      </if>
      <if test="csy131 != null" >
        CSY131 = #{csy131,jdbcType=VARCHAR},
      </if>
      <if test="csy160 != null" >
        CSY160 = #{csy160,jdbcType=TINYINT},
      </if>
      <if test="csy133 != null" >
        CSY133 = #{csy133,jdbcType=VARCHAR},
      </if>
      <if test="csy134 != null" >
        CSY134 = #{csy134,jdbcType=VARCHAR},
      </if>
      <if test="csy135 != null" >
        CSY135 = #{csy135,jdbcType=TINYINT},
      </if>
      <if test="csy136 != null" >
        CSY136 = #{csy136,jdbcType=DATE},
      </if>
      <if test="csy137 != null" >
        CSY137 = #{csy137,jdbcType=VARCHAR},
      </if>
      <if test="csy138 != null" >
        CSY138 = #{csy138,jdbcType=VARCHAR},
      </if>
    </set>
    where CSY130 = #{csy130,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bysj.cqjtu.student.domain.Sy13" >
    update sy13
    set CSY020 = #{csy020,jdbcType=INTEGER},
      CSY131 = #{csy131,jdbcType=VARCHAR},
      CSY160 = #{csy160,jdbcType=TINYINT},
      CSY133 = #{csy133,jdbcType=VARCHAR},
      CSY134 = #{csy134,jdbcType=VARCHAR},
      CSY135 = #{csy135,jdbcType=TINYINT},
      CSY136 = #{csy136,jdbcType=DATE},
      CSY137 = #{csy137,jdbcType=VARCHAR}
      CSY138 = #{csy138,jdbcType=VARCHAR}
    where CSY130 = #{csy130,jdbcType=INTEGER}
  </update>
  
  <select id="queryResource" resultType="com.bysj.cqjtu.student.domain.Sy13">
   select *
   from sy13
   where CSY135=0
  </select>
  
  <select id="searchResource" resultType="com.bysj.cqjtu.student.domain.Sy13">
   select *
   from sy13
   where CSY135=0
      and CSY131 LIKE CONCAT(CONCAT('%',#{CSY131}),'%')
  </select>
</mapper>