<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:sec="http://www.springframework.org/schema/security"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
        http://www.springframework.org/schema/security  
        http://www.springframework.org/schema/security/spring-security-3.2.xsd">  
    <!-- 配置不过滤的资源（静态资源及登录相关） -->  
    <sec:http pattern="/**/*.css" security="none"></sec:http>  
    <sec:http pattern="/**/*.jpg" security="none"></sec:http>  
    <sec:http pattern="/**/*.jpeg" security="none"></sec:http>  
    <sec:http pattern="/**/*.gif" security="none"></sec:http>  
    <sec:http pattern="/**/*.png" security="none"></sec:http>  
    <sec:http pattern="/js/*.js" security="none"></sec:http>  
      
    <sec:http pattern="/login.jsp" security="none"></sec:http>  
    <sec:http pattern="/getCode" security="none" /><!-- 不过滤验证码 -->  
    <sec:http pattern="/test/**" security="none"></sec:http><!-- 不过滤测试内容 -->  
      
    <sec:http auto-config="true">  
          
        <sec:intercept-url pattern="/app.jsp" access="ROLE_SERVICE"/>  
        <sec:intercept-url pattern="/**" access="ROLE_ADMIN"/>
        
        <!-- 
            login-page:登录页面
            authentication-failure-url：登录失败后跳转的页面
            default-target-url：登录成功后跳转的页面 
        -->
        <sec:form-login login-page="/login.jsp" authentication-failure-url="/fail.jsp"  
        default-target-url="/success.jsp"/>    
              
    </sec:http>  
      
    <sec:authentication-manager>  
        <sec:authentication-provider>  
            <sec:user-service >  
                <sec:user name="admin" password="admin" authorities="ROLE_ADMIN"/>  
            </sec:user-service>  
        </sec:authentication-provider>  
    </sec:authentication-manager>
    
    <!-- 定义上下文返回的消息的国际化 -->  
	<bean id="messageSource"  
	    class="org.springframework.context.support.ReloadableResourceBundleMessageSource">  
	    <property name="basename"  
	        value="classpath:config/messages_zh_CN"/>  
	</bean>
	<!-- 启用用户的缓存功能 -->  
	<bean id="userCache"  
	    class="org.springframework.security.core.userdetails.cache.EhCacheBasedUserCache">  
	    <property name="cache" ref="userEhCache" />  
	</bean>  
	  
	<bean id="userEhCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">  
	    <property name="cacheName" value="userCache" />  
	    <property name="cacheManager" ref="cacheManager" />  
	</bean>  
  
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" />     
    <bean id="userService" class="com.bysj.cqjtu.service.impl.UserService" /> 
</beans>  

