<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bysj.cqjtu.manager.dao.Aa10Mapper" >
  <resultMap id="BaseResultMap" type="com.bysj.cqjtu.manager.domain.Aa10">
    <id column="AAA100" jdbcType="VARCHAR" property="aaa100" />
    <id column="AAA102" jdbcType="VARCHAR" property="aaa102" />
    <result column="AAA101" jdbcType="VARCHAR" property="aaa101" />
    <result column="AAA103" jdbcType="VARCHAR" property="aaa103" />
    <result column="AAA104" jdbcType="TINYINT" property="aaa104" />
    <result column="AAA105" jdbcType="VARCHAR" property="aaa105" />
  </resultMap>
  <sql id="Base_Column_List" >
    AAA100, AAA102, AAA101, AAA103
  </sql>
  <!-- 验证是否有学院名称 -->
  <select id="validateCsy042" parameterType="java.util.HashMap" resultType="java.util.HashMap">
     select *
      from aa10
     where aaa104 = 0
       and aaa100 = 'CSY042'
       and aaa103 = #{csy042}
  </select>
  
   <!-- 验证是否有学院名称 -->
  <select id="validateCsy043" parameterType="java.util.HashMap" resultType="java.util.HashMap">
     select *
      from aa10
     where aaa104 = 0
       and aaa100 = 'CSY043'
       and aaa103 = #{csy043}
  </select>
  <!-- 获取学院 -->
  <select id="queryCsy042"  resultType="java.util.HashMap">
     select aaa102,
            aaa103
       from aa10
     where aaa104 = 0
       and aaa100 = 'CSY042'
  </select>
  <!--获取对应的班级  -->
  <select id="queryCsy043" parameterType="String" resultType="java.util.HashMap">
     select aaa102,
            aaa103
       from aa10
     where aaa104 = 0
       and aaa100 = 'CSY043'
       and aaa105 = #{aaa105}
  </select>
  
  <!--获取对应所有码表  -->
  <select id="queryAa10"  resultType="com.bysj.cqjtu.manager.domain.Aa10">
     select *
       from aa10
     where aaa104 = 0
  </select>
  <!-- 删除码表 -->
  <update id="deleteAa10" parameterType="com.bysj.cqjtu.manager.domain.Aa10Key" >
    update aa10
       set aaa104 = 1
     where aaa100 = #{aaa100}
       and aaa102 = #{aaa102}
  </update>
  <!-- 保存码表 -->
  <insert id="saveAa10" parameterType="com.bysj.cqjtu.manager.domain.Aa10" >
    insert into aa10 (
                      AAA100, 
                      AAA102, 
                      AAA101, 
                      AAA103,
                      AAA104,
                      AAA105)
             values (#{aaa100,jdbcType=VARCHAR}, 
                     #{aaa102,jdbcType=VARCHAR}, 
                     #{aaa101,jdbcType=VARCHAR}, 
                     #{aaa103,jdbcType=VARCHAR},
                     #{aaa104,jdbcType=TINYINT}, 
                     #{aaa105,jdbcType=VARCHAR})
  </insert>
  
   <!--获取对应所有码值名称  -->
  <select id="setAaa101"  resultType="java.util.HashMap" parameterType="String">
     select distinct aaa101
                from aa10
               where aaa104 = 0
                 and aaa100 =#{aaa100}
  </select>
  
  <!-- 验证码值  -->
  <select id="setvalidateAa10Aaa101"  resultType="com.bysj.cqjtu.manager.domain.Aa10" parameterType="com.bysj.cqjtu.manager.domain.Aa10">
     select *
       from aa10
      where aaa104 = 0
        and aaa100 =#{aaa100}
        and aaa101 =#{aaa101}
        and aaa102 =#{aaa102}
        and aaa103 =#{aaa103}
  </select>
  
  <!-- 按条件查询 -->
  <select id="getAa10ByCondtion"  resultType="com.bysj.cqjtu.manager.domain.Aa10" parameterType="com.bysj.cqjtu.manager.domain.Aa10">
     select *
       from aa10
      where aaa104 = 0
      <if test="aaa100!=null">
        and aaa100 =#{aaa100}
      </if>
      <if test="aaa101!=null">
       and aaa101 =#{aaa101}
      </if>
      <if test="aaa102!=null">
       and aaa102 =#{aaa102}
      </if>
  </select>
  <!-- 查询时间码值 -->
   <select id="queryCsy113" resultType="java.util.HashMap">
    select aaa103 as csy113
      from aa10
     where aaa104 = 0
       and aaa100 = 'TIME'
  </select>
  
  
  <select id="selectByPrimaryKey" parameterType="com.bysj.cqjtu.manager.domain.Aa10Key" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aa10
    where AAA100 = #{aaa100,jdbcType=VARCHAR}
      and AAA102 = #{aaa102,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.bysj.cqjtu.manager.domain.Aa10Key">
    delete from aa10
    where AAA100 = #{aaa100,jdbcType=VARCHAR}
      and AAA102 = #{aaa102,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bysj.cqjtu.manager.domain.Aa10">
    insert into aa10 (AAA100, AAA102, AAA101, 
      AAA103, AAA104, AAA105
      )
    values (#{aaa100,jdbcType=VARCHAR}, #{aaa102,jdbcType=VARCHAR}, #{aaa101,jdbcType=VARCHAR}, 
      #{aaa103,jdbcType=VARCHAR}, #{aaa104,jdbcType=TINYINT}, #{aaa105,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bysj.cqjtu.manager.domain.Aa10">
    insert into aa10
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aaa100 != null">
        AAA100,
      </if>
      <if test="aaa102 != null">
        AAA102,
      </if>
      <if test="aaa101 != null">
        AAA101,
      </if>
      <if test="aaa103 != null">
        AAA103,
      </if>
      <if test="aaa104 != null">
        AAA104,
      </if>
      <if test="aaa105 != null">
        AAA105,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aaa100 != null">
        #{aaa100,jdbcType=VARCHAR},
      </if>
      <if test="aaa102 != null">
        #{aaa102,jdbcType=VARCHAR},
      </if>
      <if test="aaa101 != null">
        #{aaa101,jdbcType=VARCHAR},
      </if>
      <if test="aaa103 != null">
        #{aaa103,jdbcType=VARCHAR},
      </if>
      <if test="aaa104 != null">
        #{aaa104,jdbcType=TINYINT},
      </if>
      <if test="aaa105 != null">
        #{aaa105,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bysj.cqjtu.manager.domain.Aa10">
    update aa10
    <set>
      <if test="aaa101 != null">
        AAA101 = #{aaa101,jdbcType=VARCHAR},
      </if>
      <if test="aaa103 != null">
        AAA103 = #{aaa103,jdbcType=VARCHAR},
      </if>
      <if test="aaa104 != null">
        AAA104 = #{aaa104,jdbcType=TINYINT},
      </if>
      <if test="aaa105 != null">
        AAA105 = #{aaa105,jdbcType=VARCHAR},
      </if>
    </set>
    where AAA100 = #{aaa100,jdbcType=VARCHAR}
      and AAA102 = #{aaa102,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bysj.cqjtu.manager.domain.Aa10">
    update aa10
    set AAA101 = #{aaa101,jdbcType=VARCHAR},
      AAA103 = #{aaa103,jdbcType=VARCHAR},
      AAA104 = #{aaa104,jdbcType=TINYINT},
      AAA105 = #{aaa105,jdbcType=VARCHAR}
    where AAA100 = #{aaa100,jdbcType=VARCHAR}
      and AAA102 = #{aaa102,jdbcType=VARCHAR}
  </update>

  
</mapper>